<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand">Digital library</p>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active-link"><a routerLink='/home'>Home</a></li>
      <li routerLinkActive="active-link" *ngIf="serverService.isLoggedUser"><a routerLink='/profile'>Profile</a></li>
      <li routerLinkActive="active-link" *ngIf="serverService.isLoggedUser"><a routerLink='/password'>Password</a></li>
      <li routerLinkActive="active-link" *ngIf="serverService.isAdmin()"><a routerLink='/users'>Users</a></li>
      <li routerLinkActive="active-link" *ngIf="serverService.isAdmin()"><a routerLink='/categories'>Categories</a></li>
      <li routerLinkActive="active-link"><a routerLink='/ebooks'>Ebooks</a></li>
      <li routerLinkActive="active-link"><a routerLink='/search'>Search</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active-link" *ngIf="serverService.isLoggedUser"><a (click)="onLogout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      <li routerLinkActive="active-link" *ngIf="!serverService.isLoggedUser"><a routerLink='/login'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>