<div class="container-fluid" >
  <div class="row content">
    <div class="col-sm-3" style="min-width: 266px;">
      <div class="panel panel-default">
        <div class="panel-heading">Users&nbsp; &nbsp;<a routerLink="add">Add</a>&nbsp; &nbsp; &nbsp;<button (click)="refreshTree()">Refresh</button></div>
        <div class="panel-body">
            <!-- TREEVIEW CODE -->
            <div class="treeview">
                    <li>Users
                    <ul>
                      <li>Administrators</li>
                      <ul>
                          <li *ngFor="let c of usersAdministrators"><a [routerLink]="c.id">{{c.username}}</a></li>
                        </ul>
                      <li>Subscribers
                        <ul>
                          <li *ngFor="let c of usersSubscriptions"><a [routerLink]="c.id">{{c.username}}</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
            </div>
            <!-- TREEVIEW CODE -->
        </div>
    </div>
    </div>


    <div class="col-sm-9">
      <div class="container-fluid" style="height: 84vh">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>