<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 Include the above in your HEAD tag -->
<form #f="ngForm">
<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           
       <br>

      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Category</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg" class="img-circle img-responsive"> </div>
                
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>

                      <tr>
                        <td>Upload ebook</td>
                        <td>
                          <input type="file" name="avatar" id="fileToUpload" (change)="fileEvent($event)">  
                        </td>
                      </tr>

                      <tr><td><button (click)="uploadEbook()" [disabled]="checkUpload()">Upload</button></td></tr>

                      <tr>
                        <td>Title:</td>
                        <td><input *ngIf="onlyRead" type="text" id="inputTitle" [(ngModel)]="ebook.title" name="title" required autofocus> <label *ngIf="!onlyRead">{{ebook.title}}</label></td> 
                      </tr>
                      <tr>
                        <td>Author:</td>
                        <td><input *ngIf="onlyRead" type="text" id="inputAuthor" [(ngModel)]="ebook.author" name="author" required autofocus> <label *ngIf="!onlyRead">{{ebook.author}}</label></td> 
                      </tr>
                      <tr>
                        <td>Keywords:</td>
                        <td><input *ngIf="onlyRead" type="text" id="inputKeywords" [(ngModel)]="ebook.keywords" name="keywords" required autofocus> <label *ngIf="!onlyRead">{{ebook.keywords}}</label></td> 
                      </tr>

                      <tr>
                        <td>PublicationYear:</td>
                        <td><input *ngIf="onlyRead" type="number" id="inputPublicationYear" [(ngModel)]="ebook.publicationYear" name="publicationYear" required autofocus> <label *ngIf="!onlyRead">{{ebook.publicationYear}}</label></td> 
                      </tr>

                      <tr>
                        <td>FileName:</td>
                        <td><input disabled="true" *ngIf="onlyRead" type="text" id="inputFileName" [(ngModel)]="ebook.fileName" name="filename" required autofocus> <label *ngIf="!onlyRead">{{ebook.fileName}}</label></td> 
                      </tr>

                      <tr>
                        <td>Mime:</td>
                        <td><input *ngIf="onlyRead" type="text" id="inputMime" [(ngModel)]="ebook.mime" name="mime" required autofocus> <label *ngIf="!onlyRead">{{ebook.mime}}</label></td> 
                      </tr>
                   
                        <tr>
                        <td>Category</td>
                        <!--<td><input *ngIf="onlyRead" type="text" id="inputEmail5" [(ngModel)]="user.category" name="category" required autofocus> <label *ngIf="!onlyRead || onlyRead">{{user.categoryEntity.name}}</label></td>-->
                        <td>
                          <select *ngIf="onlyRead" id="categoryOptions" class="form-control" [(ngModel)]="ebook.categoryEntity.name" 
                            name="ebookCategory" required>
                            <option *ngFor="let c of categories" [ngValue]="c.name">{{c.name}}</option> 
                          </select>
                          <label *ngIf="!onlyRead">{{ebook.categoryEntity.name}}</label>
                        </td>
                      </tr>

                      <tr>
                        <td>Language</td>
                        <!--<td><input *ngIf="onlyRead" type="text" id="inputEmail5" [(ngModel)]="user.category" name="category" required autofocus> <label *ngIf="!onlyRead || onlyRead">{{user.categoryEntity.name}}</label></td>-->
                        <td>
                          <select *ngIf="onlyRead" id="languageOptions" class="form-control" [(ngModel)]="ebook.languageEntity.name" 
                            name="ebookLanguage" required>
                            <option *ngFor="let c of languages" [ngValue]="c.name">{{c.name}}</option> 
                          </select>
                          <label *ngIf="!onlyRead">{{ebook.languageEntity.name}}</label>
                        </td>
                      </tr>
                     <!-- <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">info@support.com</a></td>
                      </tr>
                      <tr>
                        <td>Phone Number</td>
                        <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                        </td>
                           
                      </tr>
                     -->
                    </tbody>
                  </table>
                  
                
                </div>
              </div>
            </div>
                 
            <div class="panel-footer">
                        <!--<a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>-->
                        <input type="checkbox" name="checkbox" [(ngModel)]="onlyRead"> Add &nbsp; &nbsp;
                        <span class="pull-right">
                            <!--<a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>-->
                            
                            <button class="btn btn-sm btn-warning" type="button" (click)="refresh()">Refresh</button>&nbsp; &nbsp;<button class="btn btn-sm btn-warning" type="submit" [disabled]="!f.valid" (click)="onSubmit()">Add</button>
                            <!--<a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>-->
                        </span>
                    </div>
          </div>
        </div>
      </div>
    </div>
</form>