<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 Include the above in your HEAD tag -->
<form (ngSubmit)="onSubmit()" #f="ngForm">
<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           
       <br>

      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Change password</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://cdn.onlinewebfonts.com/svg/img_328574.png" class="img-circle img-responsive"> </div>
                
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Old password:</td>
                        <td><input type="text" id="inputEmail1" [(ngModel)]="passwordJson.oldPassword" name="firstname" required autofocus></td> 
                      </tr>
                      <tr>
                        <td>New password:</td>
                        <td><input type="text" id="inputEmail2" [(ngModel)]="passwordJson.newPassword" name="lastname" required autofocus></td>
                      </tr>
                      <tr>
                        <td>Repeat new password</td>
                        <td><input type="text" id="inputEmail3" [(ngModel)]="passwordJson.repeatNewPassword" name="username" required autofocus></td>
                      </tr>
                   
                      
                     <!-- <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">info@support.com</a></td>
                      </tr>
                      <tr>
                        <td>Phone Number</td>
                        <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                        </td>
                           
                      </tr>
                     -->
                    </tbody>
                  </table>
                  
                
                </div>
              </div>
            </div>
                 
            <div class="panel-footer">
                         <label>  </label> 
                         <label>  </label>
                        <span class="pull-right">
                            <!--<a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>-->
                            
                           <button class="btn btn-sm btn-warning" type="submit" [disabled]="!f.valid">Change</button>
                            <!--<a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>-->
                        </span>
                    </div>
          </div>
        </div>
      </div>
    </div>
</form>