
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	
<div class="search">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="form-section">
                <div class="row">
                    <form role="form">
                      <div class="col-md-4">
                        <div class="form-group">
                             <div class="serchtile">I'm Looking</div>
                          <label class="sr-only" for="looking">I'm looking</label>
                
    					<input type="text" id="selectbasic" name="selectbasic" class="form-control" [(ngModel)]="value">
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                             <div class="serchtile">Field</div>
                          <label class="sr-only" for="age">Field</label>
                          <div class="input-group">
                            <select id="age" name="age" class="form-control" [(ngModel)]="field">
      							<option value="title">title</option>
      							<option value="author">author</option>
      							<option value="keywords">keywords</option>
      							<option value="text">text</option>
      							<option value="language">language</option>
    						</select>  
    					</div>
                        </div>
                      </div>
                          
                      <div class="col-md-3">


						<div class="form-group">
                             <div class="serchtile">Search Type</div>
                          <label class="sr-only" for="age">Search Type</label>
                          <div class="input-group">
                            <select id="age" name="age" class="form-control" [(ngModel)]="searchType">
      							<!--<option value="QueryParser">Query Parser</option>-->
      							<option value="Boolean">Boolean</option>
      							<option value="Fuzzy">Fuzzy</option>
      							<option value="Phrase">Phrase</option>
                    <option value="Term">Term</option>
    						</select>  
    					</div>
                        </div>
                        
                      </div>
                      <div class="col-md-1">
                        
                      </div>
                      <div class="col-md-1">
                          <br>
                        <button class="btn btn-default btn-primary" (click)="clickSearch()">Search</button>
                   
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>


<div class="container" *ngIf="searchType == 'Boolean'">
  
<div class="search">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-1">
              <div class="form-section">
                <div class="row">
                    <form role="form">
                      <div class="col-md-5">
                        <div class="form-group">
                             <div class="serchtile">I'm Looking</div>
                          <label class="sr-only" for="looking">I'm looking</label>
                
              <input type="text" id="selectbasic" name="selectbasic" class="form-control" [(ngModel)]="value1">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                             <div class="serchtile">Field</div>
                          <label class="sr-only" for="age">Field</label>
                          <div class="input-group">
                            <select id="age" name="age" class="form-control" [(ngModel)]="field1">
                    <option value="title">title</option>
                    <option value="author">author</option>
                    <option value="keywords">keywords</option>
                    <option value="text">text</option>
                    <option value="language">language</option>
                </select>  
              </div>
                        </div>
                      </div>
                          <div class="col-md-2">
                        <div class="form-group" *ngIf="searchType == 'Boolean'">
                             <div class="serchtile">Operation:</div>
                          <label class="sr-only" for="age">Operation:</label>
                          <div class="input-group">
                            <select id="age" name="age" class="form-control" [(ngModel)]="operation">
                              <option value="and">AND</option>
                              <option value="or">OR</option>
                          </select>  
                        </div>
                        </div>
                      </div>
                      </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>




<div class="container">

    <section class="col-xs-12 col-sm-6 col-md-12">
		<article class="search-result row"  *ngFor="let ebook of ebooks">
			<div class="col-xs-12 col-sm-12 col-md-2">
				<a href="#" title="Lorem ipsum" class="thumbnail"><img src="https://i0.wp.com/www.chriswrites.com/wp-content/uploads/address_book.png?fit=256%2C256" alt="Lorem ipsum" /></a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3">
				<ul class="meta-search">
					<li><i class="glyphicon glyphicon-minus"></i> <span>Author: {{ebook.author}}</span></li>
					<li><i class="glyphicon glyphicon-minus"></i> <span>Language: {{ebook.languageEntity.name}}</span></li>
					<li><i class="glyphicon glyphicon-minus"></i> <span>Category: {{ebook.categoryEntity.name}}</span></li>
					<li><i class="glyphicon glyphicon-minus"></i> <span>Keywords: {{ebook.keywords}}</span></li>
					<li><i class="glyphicon glyphicon-minus"></i> <span>Publication Year: {{ebook.publicationYear}}</span></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-7 excerpet">
				<h3><a href="#" title="">{{ebook.title}}</a></h3>
				<p [innerHtml]="ebook.highlight"></p>						
                <span class="pl"><a *ngIf="isDownloadPdf(ebook)" [href]="ebook.ebookDownloadLink" title="Lorem ipsum" target="_blank"><i class="glyphicon glyphicon-download"></i></a><label *ngIf="!isDownloadPdf(ebook)">Register and subscribe to the category {{ebook.categoryEntity.name}} if you want to be able to download pdf of book.</label></span>
			</div>
			<span class="clearfix borda"></span>
		</article>			

	</section>
</div>