<div class="container-fluid" >
  <div class="row content">
    <div class="col-sm-3" style="min-width: 266px;">
      <div class="panel panel-default">
        <div class="panel-heading">Categories&nbsp; &nbsp;<a routerLink="add" *ngIf="serverService.isAdmin()">Add</a>&nbsp; &nbsp; &nbsp;<button (click)="refreshTree()">Refresh</button>
          <select id="categoryOptions" class="form-control" [(ngModel)]="selectedCategory" name="categories" required (change)="clickCategory()">
            <option *ngFor="let c of categories" [ngValue]="c.name" >{{c.name}}</option> 
          </select>
        </div>
        <div class="panel-body">
            <!-- TREEVIEW CODE -->
            <div class="treeview">
                    <li>Category
                    <ul>
                      <li>{{selectedCategory}}</li>
                      <ul>
                          <li *ngFor="let c of ebooks"><a [routerLink]="c.id">{{c.title}}</a></li>
                        </ul>
                      
                    </ul>
                  </li>
            </div>
            <!-- TREEVIEW CODE -->
        </div>
    </div>
    </div>


    <div class="col-sm-9">
      <div class="container-fluid" style="height: 84vh">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>