div.panel:first-child {
    margin-top:0px;
}

div.treeview {
    min-width: 100px;
    height: 75vh;
    
    
    padding: 4px;
    
    margin-bottom: 2px;
    
    color: #369;
    
    border: solid 1px;
    border-radius: 4px;
}


.tree-indicator {
    margin-right:5px;
    
    cursor:pointer;
}
.treeview li a {
    text-decoration: none;
    color:inherit;
    
    cursor:pointer;
}
.treeview li button, .treeview li button:active, .treeview li button:focus {
    text-decoration: none;
    color:inherit;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}