<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 Include the above in your HEAD tag -->
<form (ngSubmit)="onSubmit()" #f="ngForm">
<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           
       <br>

      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Profile</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg" class="img-circle img-responsive"> </div>
                
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Firstname:</td>
                        <td><input *ngIf="onlyRead" type="text" id="inputEmail1" [(ngModel)]="user.firstname" name="firstname" required autofocus> <label *ngIf="!onlyRead">{{user.firstname}}</label></td> 
                      </tr>
                      <tr>
                        <td>Lastname:</td>
                        <td><input *ngIf="onlyRead" type="text" id="inputEmail2" [(ngModel)]="user.lastname" name="lastname" required autofocus> <label *ngIf="!onlyRead">{{user.lastname}}</label></td>
                      </tr>
                      <tr>
                        <td>Username</td>
                        <td><input *ngIf="onlyRead" type="text" id="inputEmail3" [(ngModel)]="user.username" name="username" required autofocus> <label *ngIf="!onlyRead">{{user.username}}</label></td>
                      </tr>
                   
                      <tr>
                        <td>Type</td>
                        
                        <td>
                          <select *ngIf="onlyRead" id="typeOptions" class="form-control" [(ngModel)]="user.type" 
                            name="userType" required>
                            <option  ngValue="Admin">Admin</option>
                            <option  ngValue="Subscriber">Subscriber</option> 
                          </select>
                          <label *ngIf="!onlyRead">{{user.type}}</label>
                        </td>
                      </tr>
                        <tr>
                        <td>Category</td>
                        <!--<td><input *ngIf="onlyRead" type="text" id="inputEmail5" [(ngModel)]="user.category" name="category" required autofocus> <label *ngIf="!onlyRead || onlyRead">{{user.categoryEntity.name}}</label></td>-->
                        <td>
                          <select *ngIf="onlyRead" id="categoryOptions" class="form-control" [(ngModel)]="user.categoryEntity.name" 
                            name="userCategory" required>
                            <option *ngFor="let c of categories" [ngValue]="c.name">{{c.name}}</option> 
                          </select>
                          <label *ngIf="!onlyRead">{{user.categoryEntity.name}}</label>
                        </td>
                      </tr>
                     <!-- <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">info@support.com</a></td>
                      </tr>
                      <tr>
                        <td>Phone Number</td>
                        <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                        </td>
                           
                      </tr>
                     -->
                    </tbody>
                  </table>
                  
                
                </div>
              </div>
            </div>
                 
            <div class="panel-footer">
                        <!--<a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>-->
                        <input type="checkbox" name="checkbox" [(ngModel)]="onlyRead"> Edit &nbsp; &nbsp;
                        <span class="pull-right">
                            <!--<a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>-->
                            
                            <button class="btn btn-sm btn-warning" type="button" (click)="delete()">Delete</button>&nbsp; &nbsp;<button class="btn btn-sm btn-warning" type="button" (click)="refresh()">Refresh</button>&nbsp; &nbsp;<button class="btn btn-sm btn-warning" type="submit" [disabled]="!f.valid">Edit</button>
                            <!--<a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>-->
                        </span>
                    </div>
          </div>
        </div>
      </div>
    </div>
</form>