<div class="container w-100"> 
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="https://beninstudies.files.wordpress.com/2016/05/google-digital-library.png" alt="Los Angeles" style="width:100%;">
      </div>

      <div class="item">
        <img src="https://dt.azadicdn.com/wp-content/uploads/2013/09/digital-book.jpg?200" alt="Chicago" style="width:100%;">
      </div>
    
      <div class="item">
        <img src="https://image.shutterstock.com/z/stock-photo-digital-library-books-inside-computer-129449258.jpg" alt="New york" style="width:100%;">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>

    </a>
  </div>
</div>